.TestimoniailContainer{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh auto 8vh auto;
}

.LinkButton {
    font-size: 0.9em;
    text-decoration: none;
    color: #FCFCFC;
    padding: 7px 18px 7px 18px;
    border: 1px solid #FCFCFC;
    border-radius: 24px;
  }
  
.LinkButton:hover {
    color: #FCFCFC;
    border: 1px solid #FCFCFC;
    box-shadow: 0 0 5px;
  }